*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --nome: attr(name);
    --preco: attr(price);
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 15px 20px;
}

header img{
    width: 120px;
}

h4{
    color: white;
}

span{
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.endereco{
    display: flex;
    gap: 6px;
}

.endereco img{
    width: 30px;
}

.endereco p{
    width: 120px;
    font-size: 12px;
    color: gray;
}

.endereco span{
    color: lightgray;
}

.pesquisa{
    display: flex;
    align-items: center;
}

.barra-pesquisa{
    width: 80%;
}

.barra-pesquisa input{
    border-radius: 4px 0 0 4px;
    border: none;
    padding: 9px;
}

input::placeholder {
    font-size: 11px;
}

input:focus{
  outline: none;
}

.button-pesquisa{
    background-color: orange;
    border-radius: 0 4px 4px 0;
    border: none;
    padding: 2px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-pesquisa img{
    width: 30px;
}

.loja{
    width: 90px;
    text-align: center;
    color: gray;
    font-size: 12px;
}

.usuario{
    display: flex;
    gap: 6px;
}

.usuario img{
    width: 30px;
}

.usuario p{
    font-size: 12px;
    color: white;
}

.login{
    display: flex;
    align-items: center;
    gap: 6px;
}

.login h4{
    font-size: 11px;
}

.login img{
    height: 10px;
    width: 15px;
}

.cartuchos{
    width: 60px;
    font-size: 12px;
    color: white;
}

.pedidos{
    display: flex;
    align-items: center;
    gap: 6px;
}

.pedidos img{
    width: 30px;
}

.pedidos p{
    width: 55px;
    font-size: 12px;
    color: white;
}

.carrinho{
    display: flex;
    align-items: center;
    gap: 6px;
}

.carrinho img{
    width: 30px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 2%;
}

.card{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.preview{
    display: grid;
    place-items: center;
    gap: 10px;
}

.imagem{
    width: 50%;
}

.download{
    background-color: orange;
    padding: 1% 20% 1% 20%;
    border-radius: 5px;
}


.info-produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-comprar{
    background-color: darkblue;
    content: var(--comprar);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2% 0 2% 0;
}

.produto-nome{
    content: var(--nome);
    font-size: 14px;
    color: gray;
}

.preco{
    content: var(--preco);
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
}